
<!DOCTYPE html>
<!-- saved from url=(0055) -->
<html lang="en" class=" js cssanimations csstransforms csstransforms3d csstransitions js flexbox flexboxlegacy canvas canvastext webgl no-touch geolocation postmessage websqldatabase indexeddb hashchange history draganddrop websockets rgba hsla multiplebgs backgroundsize borderimage borderradius boxshadow textshadow opacity cssanimations csscolumns cssgradients cssreflections csstransforms csstransforms3d csstransitions fontface generatedcontent video audio localstorage sessionstorage webworkers no-applicationcache svg inlinesvg smil svgclippaths">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <!-- Responsive/Encoding Metas -->

    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Page Title -->
    <title>MY MANIFESTO | JUDE IFEANYI NGAMA</title>
    <!-- Favicon -->
    <link rel="shortcut icon" href="~/img/icon-jude.jpg">

    <!-- Begin: CSS Stylesheets -->
    <link rel="stylesheet" type="text/css" href="~/site/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="~/site/styles.css">
    <link rel="stylesheet" type="text/css" href="~/site/responsive.css">
    <link rel="stylesheet" type="text/css" href="~/site/owl.carousel.css">
    <link rel="stylesheet" type="text/css" href="~/site/owl.theme.css">
    <link rel="stylesheet" type="text/css" href="~/site/owl.transitions.css">
    <link rel="stylesheet" type="text/css" href="~/site/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="~/site/font-awesome-animation.min.css">
    <link rel="stylesheet" type="text/css" href="~/site/YTPlayer.css"><!-- CSS: YTPlayer CSS -->
    <link rel="stylesheet" type="text/css" href="~/site/swipebox.css">
    <link rel="stylesheet" type="text/css" href="~/site/simple-line-icons.css">
    <link rel="stylesheet" type="text/css" href="~/site/navigation.css">
    <link rel="stylesheet" type="text/css" href="~/site/animate.css">
    <link rel="stylesheet" type="text/css" href="~/site/bootstrap-touch-slider.css">
    <link rel="stylesheet" type="text/css" href="~/site/skin-main.css" id="css-default">
    <!-- End: CSS Stylesheets -->
    <!-- Google Fonts -->
    <link href="~/site/css" rel="stylesheet" type="text/css">
    <script type="text/javascript" charset="UTF-8" src="~/site/common.js"></script>
    <script type="text/javascript" charset="UTF-8" src="~/site/util.js"></script>
</head>

<!-- BODY -->
<body class="home page-loaded" id="body" data-new-gr-c-s-check-loaded="14.1052.0" data-gr-ext-installed="">

    <div class="row">

        <div class="top-header">
            <div class="container">
                <div class="row">
                    <div class="col-md-6 col-sm-6 text-left left-side" style="height: 35px;">
                        <a href="#">
                            <i class="icon-phone icons"></i> Phone:
                            <label>+234 803 791 5777</label>
                        </a>
                        <a href="#">
                            <i class="icon-location-pin icons"></i> Address:
                            <label>jude@nipss.com</label>
                        </a>
                    </div>
                    <div class="col-md-6 col-sm-6 text-right right-side">
                        <ul class="social-links">
                            <li class="facebook">
                                <a href="https://web.facebook.com/ngamajude">
                                    <i class="fa fa-facebook"></i>
                                </a>
                            </li>
                            <li class="twitter">
                                <a href="https://twitter.com/envato">
                                    <i class="fa fa-twitter"></i>
                                </a>
                            </li>


                            <li class="youtube">
                                <a href="http://youtube.com/">
                                    <i class="fa fa-youtube"></i>
                                </a>
                            </li>


                            <li class="linkedin">
                                <a href="http://linkedin.com/">
                                    <i class="fa fa-linkedin"></i>
                                </a>
                            </li>


                            <li class="instagram">
                                <a href="http://instagram.com/">
                                    <i class="fa fa-instagram"></i>
                                </a>
                            </li>


                        </ul>
                    </div>
                </div>
            </div>
        </div>

        <div class="container">
            <div class="row">
                <div class="col-md-3">
                    <a class="navbar-brand" href="">
                        <img alt="logo" src="~/img/theme_logo_dark.png">
                    </a>
                </div>
                <div class="col-md-9 fundraising-contact-details">

                    <nav class="navbar navbar-default">
                        <!-- Brand and toggle get grouped for better mobile display -->
                        <div class="navbar-header">
                            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#theme-main-nav-menu" aria-expanded="false">
                                <span class="sr-only">Toggle navigation</span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                            </button>
                        </div>

                        <!-- Collect the nav links, forms, and other content for toggling -->
                        <div class="collapse navbar-collapse" id="theme-main-nav-menu">
                            <ul class="nav navbar-nav navbar-left">
                                <li><a href="">Home</a></li>


                                <li><a asp-page="/About">About</a></li>
                                <li><a asp-page="/Manifesto">Manifesto</a></li>
                                <li><a asp-page="/Gallery">Gallery</a></li>

                            </ul>
                        </div>
                        <!-- /.navbar-collapse -->
                    </nav>
                </div>
            </div>
        </div>
    </div>


    @RenderBody()


    <!-- FOOTER -->
    <footer class="footer">
        <div class="row footer-top animateIn" data-animate="fadeIn" style="opacity: 0;">
            <div class="container">
                <div class="high-padding row">
                    <div class="widget widget_text col-md-6">
                        <a href="#" class="footer-logo">
                            <img src="~/img/theme_logo_dark.png" alt="">
                        </a>
                        <div class="spacer_10"></div>

                        <p>
                            The welfare and overall development of this class as a cohesive
                            group during and beyond this course will be my utmost priority.
                           <br /><br /> I promise to run an all-inclusive government for
                            everyone and strategically make sure we all become agents of
                            Good Local Governance in our different endeavour.
                        </p>

                        <div class="spacer_15"></div>

                        <!-- SOCIAL LINKS -->
                        <aside class="widget widget_social_links">
                            <div class="social_links">
                                <a href="#">
                                    <i class="fa fa-facebook"></i>
                                </a>


                                <a href="#">
                                    <i class="fa fa-linkedin"></i>
                                </a>
                                <a href="#">
                                    <i class="fa fa-instagram"></i>
                                </a>

                                <a href="#">
                                    <i class="fa fa-twitter"></i>
                                </a>
                            </div>
                        </aside>
                    </div>
                    <div class="widget widget_nav_menu col-md-3">

                        <img src="~/site/world_map.png" alt="">
                    </div>

                </div>
            </div>
        </div>
        <div class="row footer-bottom">
            <a class="amaezi-top" href="#body">
                <i class="fa fa-angle-up"></i>
            </a>
            <div class="container">
                <div class="row animateIn" data-animate="fadeIn" style="opacity: 0;">
                    <div class="copyright-informations text-left col-md-12">
                        Developed By EXWHYZEE TECHNOLOGIES and powered by Eng. Ifeanyi Ngama
                    </div>

                </div>
            </div>
        </div>
    </footer>


    <!-- Begin: JS Scripts -->
    <script src="~/site/jquery.min.js"></script>
    <script src="~/site/plugins.js"></script>
    <script src="~/site/js"></script>
    <script src="~/site/gmaps-v3.js"></script>
    <script src="~/site/custom.js"></script>
    <!-- End: JS Scripts -->

    @RenderSection("Scripts", required: false)




</body>

</html>