@page
@model IfeanyiJude.Pages.AboutModel
@{
}

<header class="amaezi-fullscreen-header section-bg" data-image-src="/img/top_banner_short.jpg" style="background-image: url('../img/top_banner_short.jpg');">

    <!-- HEADER OVERLAY -->
    <div class="amaezi-header-overlay"></div>

    <!-- Header Video -->
    <!-- <div class='youtube-video'></div>
    <a class="youtube-player" data-property="{videoURL:'Tl8E1DzJ0bo',containment:'.youtube-video',autoPlay:true, mute:true, startAt:0, opacity:1,ratio:'16/9',showControls:false,showYTLogo:false}"></a> -->
    <!-- HEADER CONTENT -->
    <div class="amaezi_header_content">
        <h1 class="amaezi_header_title">About Engr. Jude Ifeanyi Ngama</h1>
        <h3 class="amaezi_header_subtitle">We Design, Develop, Train, Deploy and Market state-of-the-art Technologies that are best suited for you</h3>
    </div>
</header>


<style type="text/css">
    <!--
    span.cls_006 {
        font-family: Arial,serif;
        font-size: 22.0px;
        color: rgb(0,0,0);
        font-weight: bold;
        font-style: normal;
        text-decoration: underline
    }

    div.cls_006 {
        font-family: Arial,serif;
        font-size: 22.0px;
        color: rgb(0,0,0);
        font-weight: bold;
        font-style: normal;
        text-decoration: none
    }

    span.cls_003 {
        font-family: "Calibri Bold",serif;
        font-size: 22px;
        color: rgb(0,0,0);
        padding-top: 15px;
        margin-top: 10px;
        margin-bottom: 10px;
        font-weight: bold;
        font-style: normal;
        text-decoration: none
    }

    div.cls_003 {
        font-family: "Calibri Bold",serif;
        font-size: 13.0px;
        color: rgb(0,0,0);
        font-weight: bold;
        font-style: normal;
        text-decoration: none
    }

    span.cls_004 {
        font-family: Arial,serif;
        font-size: 13.0px;
        color: rgb(0,0,0);
        font-weight: normal;
        font-style: normal;
        text-decoration: none
    }

    div.cls_004 {
        font-family: Arial,serif;
        font-size: 13.0px;
        color: rgb(0,0,0);
        font-weight: normal;
        font-style: normal;
        text-decoration: none
    }
    -->
</style>
<div id="container" class="main-content">
    <!-- Page content -->
    <div class="container high-padding">
        <div class="row">
            <div class="col-md-12 main-container">
                <!-- Post content -->
                <div class="post-content animateIn animated fadeIn" data-animate="fadeIn" style="opacity: 100;">

                    <div style="left:72.02px;top:43.68px" class="cls_006"><span class="cls_006">Mr. Ngama’s Profile</span></div>
                    <div style="left:72.02px;top:83.30px" class="cls_003"><span class="cls_003">Mr. Ifeanyi Jude Ngama is devoted to the growth and development of the ICT sector in</span></div>
                    <div style="left:72.02px;top:101.54px" class="cls_003"><span class="cls_003">Nigeria. An erudite entrepreneur who is not flustered in the quest of mentoring growing</span></div>
                    <div style="left:72.02px;top:119.78px" class="cls_003"><span class="cls_003">young entrepreneurs to become the best they can be.</span></div>
                    <div style="left:72.02px;top:148.10px" class="cls_003"><span class="cls_003">Mr. Ifeanyi has designed, developed and implemented a</span></div>

                    <div style="left:72.02px;top:166.34px" class="cls_003"><span class="cls_003">lot of ICT Projects that are not limited to the following:</span></div>
                    <div style="left:90.02px;top:195.26px;margin-left:25px;" class="cls_004"><span class="cls_004">• </span><span class="cls_003"> EXWHYZEE Business Solution: For managing small</span></div>
                    <div style="left:108.02px;top:213.50px;margin-left:25px;" class="cls_003"><span class="cls_003">and medium Businesses.</span></div>
                    <div style="left: 90.02px; top: 232.46px; margin-left: 25px;" class="cls_004"><span class="cls_004">• </span><span class="cls_003"> Academic Suites: For Administering and managing</span></div>
                    <div style="left: 108.02px; top: 250.73px; margin-left: 25px;" class="cls_003"><span class="cls_003">Tertiary and Secondary Schools.</span></div>
                    <div style="left: 90.02px; top: 269.69px; margin-left: 25px;" class="cls_004"><span class="cls_004">• </span><span class="cls_003"> Development of Employment Portals for Abia State Government.</span></div>
                    <div style="left: 90.02px; top: 288.65px; margin-left: 25px;" class="cls_004"><span class="cls_004">• </span><span class="cls_003"> Development of online Lottery platform (<A HREF="http://www.wimbig.com/">www.wimbig.com</A>)</span></div>
                    <div style="left: 90.02px; top: 307.61px; margin-left: 25px;" class="cls_004"><span class="cls_004">• </span><span class="cls_003"> Development of Ecommerce platform (<A HREF="http://www.ahioma.com/">www.ahioma.com</A>)</span></div>
                    <div style="left: 90.02px; top: 326.57px; margin-left: 25px;" class="cls_004"><span class="cls_004">• </span><span class="cls_003"> His ZeroDT platform offers employment to young graduates after youth service.</span></div>
                    <div style="left:72.02px;top:354.77px" class="cls_003"><span class="cls_003">His vision is to integrate and network the Nigerian market that is compatible with</span></div>
                    <div style="left:72.02px;top:373.01px" class="cls_003"><span class="cls_003">current trends in global e-commerce platform. A programmer, network & systems</span></div>
                    <div style="left:72.02px;top:391.25px" class="cls_003"><span class="cls_003">engineer, CCNA, CCVP, Certified Ethical Hacker, also has degrees in mechanical</span></div>
                    <div style="left:72.02px;top:409.51px" class="cls_003"><span class="cls_003">engineering and project management.</span></div>
                    <div style="left:72.02px;top:437.83px" class="cls_003"><span class="cls_003">Mr. Ngama works as the Director Information Technology for Princeton Leadership</span></div>
                    <div style="left:72.02px;top:456.07px" class="cls_003"><span class="cls_003">Forum who is presently in partnership with the National Institute NIPSS for the</span></div>
                    <div style="left:72.02px;top:474.31px" class="cls_003"><span class="cls_003">Development of Nigeria Youths in sound Leadership.</span></div>
                    <div style="left:72.02px;top:502.51px" class="cls_003"><span class="cls_003">Mr. Ngama is also a consultant to NIRSAL Microfinance Bank, African Energy Logistics</span></div>
                    <div style="left:72.02px;top:520.75px" class="cls_003"><span class="cls_003">Services Limited and has worked for Joint Heirs Limited, Facilitators of the AGOA Trade</span></div>
                    <div style="left:72.02px;top:538.99px" class="cls_003"><span class="cls_003">Incubation Center, hosted by Michael Okpara University of Agriculture Umudike, been</span></div>
                    <div style="left:72.02px;top:557.23px" class="cls_003"><span class="cls_003">funded by TETFUND (Tertiary Education Trust Fund).</span></div>
                    <div style="left:72.02px;top:585.58px" class="cls_003"><span class="cls_003">This is a platform devoted to produce, train and equip the local entrepreneurs who are</span></div>
                    <div style="left:72.02px;top:603.82px" class="cls_003"><span class="cls_003">being positioned to access global market trade and business opportunities using the</span></div>
                    <div style="left:72.02px;top:622.06px" class="cls_003"><span class="cls_003">most modern technologies available in the international market especially via the</span></div>
                    <div style="left:72.02px;top:640.30px" class="cls_003"><span class="cls_003">AGOA Platform with current trend and approaches.</span></div>
                    <div style="left:72.02px;top:668.50px" class="cls_003"><span class="cls_003">It is also good to note that Mr. Ngama is also a passionate farmer who is poised in</span></div>
                    <div style="left:72.02px;top:686.74px" class="cls_003"><span class="cls_003">helping young people to move into Agriculture.</span></div>

                </div>
            </div>
        </div>
    </div>                </div>                    