@page
@model IfeanyiJude.Pages.GalleryModel
@{
}









<section>
    <div id="tslr_instagram_feed" class="tslr_instagram_feed row">
        <div class="item col-md-2 no_gap">
            <div class="instagram_group">
                <a target="_blank" href="#">
                    <div class="instagram_overlay">
                        <i class="icon-social-instagram icons"></i>
                    </div>
                    <img alt="" src="~/img/a.jpeg">
                </a>
            </div>
        </div>
        <div class="item col-md-2 no_gap">
            <div class="instagram_group">
                <a target="_blank" href="#">
                    <div class="instagram_overlay">
                        <i class="icon-social-instagram icons"></i>
                    </div>
                    <img alt="" src="~/img/b.jpeg">
                </a>
            </div>
        </div>
        <div class="item col-md-2 no_gap">
            <div class="instagram_group">
                <a target="_blank" href="#">
                    <div class="instagram_overlay">
                        <i class="icon-social-instagram icons"></i>
                    </div>
                    <img alt="" src="~/img/c.jpeg">
                </a>
            </div>
        </div>
        <div class="item col-md-2 no_gap">
            <div class="instagram_group">
                <a target="_blank" href="#">
                    <div class="instagram_overlay">
                        <i class="icon-social-instagram icons"></i>
                    </div>
                    <img alt="" src="~/img/f.jpeg">
                </a>
            </div>
        </div>
        <div class="item col-md-2 no_gap">
            <div class="instagram_group">
                <a target="_blank" href="#">
                    <div class="instagram_overlay">
                        <i class="icon-social-instagram icons"></i>
                    </div>
                    <img alt="" src="~/img/g.jpeg">
                </a>
            </div>
        </div>
        <div class="item col-md-2 no_gap">
            <div class="instagram_group">
                <a target="_blank" href="#">
                    <div class="instagram_overlay">
                        <i class="icon-social-instagram icons"></i>
                    </div>
                    <img alt="" src="~/img/h.jpeg">
                </a>
            </div>
        </div>
    </div>
</section>
<img src="~/gallery/WhatsApp Image 2022-03-15 at 11.31.40 PM (1).jpeg" style="max-height:400px;" />
<img src="~/gallery/WhatsApp Image 2022-03-15 at 11.31.41 PM.jpeg" style="max-height:400px;" />
<img src="~/gallery/WhatsApp Image 2022-03-15 at 11.31.42 PM (1).jpeg" style="max-height:400px;" />

<img src="~/gallery/WhatsApp Image 2022-03-15 at 11.31.42 PM (2).jpeg" style="max-height:400px;" />
<img src="~/gallery/WhatsApp Image 2022-03-16 at 12.52.56 AM.jpeg" />
<img src="~/gallery/WhatsApp Image 2022-03-15 at 11.31.42 PM.jpeg" style="max-height:400px;" />
<img src="~/gallery/WhatsApp Image 2022-03-15 at 11.31.43 PM.jpeg" style="max-height:400px;" />
<img src="~/gallery/WhatsApp Image 2022-03-15 at 11.31.44 PM (1).jpeg" style="max-height:400px;" />
<img src="~/gallery/WhatsApp Image 2022-03-15 at 11.31.44 PM (2).jpeg" style="max-height:400px;" />
<img src="~/gallery/WhatsApp Image 2022-03-15 at 11.31.44 PM (3).jpeg" style="max-height:400px;" />
<img src="~/gallery/WhatsApp Image 2022-03-15 at 11.31.44 PM.jpeg" style="max-height:400px;" />
<img src="~/gallery/WhatsApp Image 2022-03-15 at 11.31.45 PM (1).jpeg" style="max-height:400px;" />
<img src="~/gallery/WhatsApp Image 2022-03-15 at 11.31.45 PM.jpeg" style="max-height:400px;" />
<img src="~/gallery/WhatsApp Image 2022-03-15 at 11.31.47 PM.jpeg" style="max-height:400px;" />
<img src="~/gallery/WhatsApp Image 2022-03-15 at 11.57.43 PM (1).jpeg" style="max-height:400px;" />
<img src="~/gallery/WhatsApp Image 2022-03-15 at 11.57.45 PM.jpeg" style="max-height:400px;" />
<img src="~/gallery/WhatsApp Image 2022-03-15 at 11.57.47 PM.jpeg" style="max-height:400px;" />
<img src="~/gallery/WhatsApp Image 2022-03-15 at 11.59.37 PM (1).jpeg" style="max-height:400px;" />
<img src="~/gallery/WhatsApp Image 2022-03-15 at 11.59.37 PM.jpeg" style="max-height:400px;" />
<img src="~/gallery/WhatsApp Image 2022-03-15 at 11.59.40 PM.jpeg" style="max-height:400px;" />
<img src="~/gallery/WhatsApp Image 2022-03-15 at 11.59.43 PM.jpeg" style="max-height:400px;" />
<img src="~/gallery/WhatsApp Image 2022-03-15 at 11.59.46 PM.jpeg" style="max-height:400px;" />
<img src="~/gallery/WhatsApp Image 2022-03-15 at 11.59.47 PM (1).jpeg" style="max-height:400px;" />
<img src="~/gallery/WhatsApp Image 2022-03-15 at 11.59.47 PM.jpeg" style="max-height:400px;" />
<img src="~/gallery/WhatsApp Image 2022-03-15 at 11.59.49 PM.jpeg" style="max-height:400px;" />
<video controls="controls">
    <source src="~/gallery/WhatsApp%20Video%202022-03-15%20at%2011.31.43%20PM.mp4" type="video/mp4" style="max-height:400px;" />
</video>
<video controls="controls">
    <source src="~/gallery/WhatsApp%20Video%202022-03-16%20at%2012.53.08%20AM.mp4" type="video/mp4" />
</video>