@page
@model IfeanyiJude.Pages.ManifestoModel
@{
}
<header class="amaezi-fullscreen-header section-bg" data-image-src="/img/top_banner_short.jpg" style="background-image: url('../img/top_banner_short.jpg');">

    <!-- HEADER OVERLAY -->
    <div class="amaezi-header-overlay"></div>

    <!-- Header Video -->
    <!-- <div class='youtube-video'></div>
    <a class="youtube-player" data-property="{videoURL:'Tl8E1DzJ0bo',containment:'.youtube-video',autoPlay:true, mute:true, startAt:0, opacity:1,ratio:'16/9',showControls:false,showYTLogo:false}"></a> -->
    <!-- HEADER CONTENT -->
    <div class="amaezi_header_content">
        <h1 class="amaezi_header_title">My Manifesto</h1>
        <h3 class="amaezi_header_subtitle">The whole is always greater than the sum of its parts!</h3>
    </div>
</header>


<div id="container" class="main-content">
    <!-- Page content -->
    <div class="container high-padding">
        <div class="row">
            <div class="col-md-12 main-container">
                <!-- Post content -->
                <div class="post-content animateIn animated fadeIn" data-animate="fadeIn" style="opacity: 100;">

                    <!-- TITLE + SUBTITLE section -->
                    <div class="relative section-header">
                        <h2 class="section-title">
                            Vote Engr. Ifeanyi Jude Ngama

                        </h2>
                        <h4 class="section-title">
                            For
                            Monitor
                            General
                            SEC44, 2022
                        </h4>
                    </div>
                    <div class="row">
                        <div class="col-md-8" style="font-size:19px;">
                            <p>
                                The whole is always greater than the sum of its parts!
                                Believe me when I say I have the capacity to lead this fantastic
                                SEC44 by mediating between us and management of the
                                institute.


                            </p>

                            <blockquote>
                                The welfare and overall development of this class as a cohesive
                                group during and beyond this course will be my utmost priority.
                            </blockquote>

                            <p>
                                Finally, I promise to run an all-inclusive government for
                                everyone and strategically make sure we all become agents of
                                Good Local Governance in our different localities.
                            </p>
                        </div>
                        <div class="col-md-4">
                            <img src="~/img/boss.jpg" alt="">
                            <div class="spacer_15"></div>
                        </div>
                    </div>

                    <h2 style="margin-bottom:20px;">
                        Together we can!
                        <br />
                        Thanks, and God bless you all !
                    </h2>
                    <div class="row">
                        <div class="col-md-6"><img src="~/img/together.jpg" alt="" class="img-fluid"></div>
                        <div class="col-md-6" style="font-size:19px;">
                            <h2 class="text-center" style="margin-top:0px;">MANIFESTO</h2>
                            <ul style="margin-bottom:0px;font-size:20px;">
                                <li>
                                    I am a passionate person with the primary objective of ensuring
                                    everyone is happy and happy throughout and beyond this course.
                                </li>
                                <li>
                                    As a digital and human resource professional, we will work assiduously
                                    and tirelessly to drive the collective interests of our dear great class to
                                    fruition.
                                </li>
                                <li>
                                    We would ensure upon our resumption to office, the immortalization
                                    of the class legacy within and beyond the institute.
                                </li>
                                <li>
                                    We would ensure that our general policy brief report at the end of the
                                    course see the light of the day.
                                </li>
                                <li>
                                    The main Idea is that we strategically become drivers of Good local
                                    governance in our different localities.
                                </li>
                                <li>We move!!!</li>

                            </ul>
                        </div>
                    </div>
                    

                   
                </div>
            </div>
        </div>
    </div>
</div>